{% extends "base.html" %}

{% block main %}
  <div class="gridview">
      {% for user in users %}
        {% for image in images %}
            {% if user.image_url ==  image %}
            <div class="profilebox">
        		<div class="profileimage"><img src="{{url_for('static', filename='uploads/'+image)}}" /></div>
        		<div class="profiledetails">
                  	<p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
                  	<p>{{ user.gender }}</p>
                    <p>{{ user.location }}</p>
                    <a href="{{ url_for('user_profile', filename= user.id ) }}"><button class="profilebutton" type="button">View Profile</button></a>
        		</div>
        	</div>
            {% endif %}
    
        {% endfor %}
      
      {% endfor %}
    </div>


{% endblock %}